---
layout: default
title: About
section_id: about
skills:
  - title: Custom Design
    percentage: 84
  - title: Commercial
    percentage: 95
  - title: Site Management
    percentage: 70
  - title: Floor Plan
    percentage: 61
testimonials:
  - quote: "We expected to get exactly what we wanted in a home, and we did. Our favorite aspect is that everyone naturally gravitates to the extended kitchen. The two butler’s pantries make serving so easy. The portico outside the sun room and family room, overlooking the pool and hearth, is like an extension of the inside, comfortable in all weather. Scott had the people and the expertise to make it all come together for us."
    author: Exactly What We Wanted, Longview, TX
  - quote: "We never built before. People say it strains a marriage, but Scott’s people made it a pleasant experience. Becky took me to the decorator’s market in Dallas. The supervisor found a talented artist to paint a tapestry on the vault leading to the parlor. Everything is wonderfully unique."
    author: Pleasant Experience, Kilgore, TX
  - quote: "This company is known for excellent woodwork, molding, hardwood floors, and such— quality in every detail. Our door frames are different from the neighbors’, as you would expect in a custom home. All the craftsmen listened to us and figured a way to give us what we wanted—for instance, rag-technique painting, and the family monogram laid in parquet at hallway inter-sections. You can’t plan every detail in advance, but have to rely on the integrity of the builder for getting things right."
    author: Quality in Every Detail, Hallsville, TX
slides:
  - bg: images/home/name-you-can-trust.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: Hamilton Group
    title:
      klass: bottom-to-top
      text: A Name You Can Trust
    buttons:
      klass: bottom-to-top
      items:
        - text: Schedule Your Free Consultation
          link_to: mailto:contact@trusthamilton.com
  - bg: images/home/team-you-can-trust.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: Hamilton Group
    title:
      klass: bottom-to-top
      text: A Team You Can Trust
    buttons:
      klass: bottom-to-top
      items:
        - text: Schedule Your Free Consultation
          link_to: mailto:contact@trusthamilton.com
  - bg: images/home/design-you-can-trust.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: Hamilton Group
    title:
      klass: bottom-to-top
      text: A Design You Can Trust
    buttons:
      klass: bottom-to-top
      items:
        - text: Schedule Your Free Consultation
          link_to: mailto:contact@trusthamilton.com
  - bg: images/home/home-you-can-trust.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: Hamilton Group
    title:
      klass: bottom-to-top
      text: A Home You Can Trust
    buttons:
      klass: bottom-to-top
      items:
        - text: Schedule Your Free Consultation
          link_to: mailto:contact@trusthamilton.com
---

<div class='mod modDefaultSlider' style="height: 100% !important;">
  <div class='sequence' data-autostop='off' data-timeout='5000' style="height: 100% !important;">
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul id="homebuilders" class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}' style="margin-top: 102px; text-shadow: 2px 2px 2px #000">
            <div class='row'>
              <div class='large-12 columns'>
                <h2 style="font-size: 3rem;">{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}' style="text-shadow: 2px 2px 2px #000">
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>The Hamilton Difference</h3>
      <p>Hamilton Group, formerly Scott Hamilton Custom Homes is the premier design-build, high performance, custom home builder in East Texas. The Hamilton name is synonymous with excellence and integrity and has been for the last 40 years. Your trust depends on an enjoyable process utilizing inspired design, cutting-edge construction, and perfected interiors.</p>
      <p>Hamilton Group, formerly Scott Hamilton Custom Homes is the premier design-build, high performance, custom home builder in East Texas. The Hamilton name is synonymous with excellence and integrity and has been for the last 40 years. Your trust depends on an enjoyable process utilizing inspired design, cutting-edge construction, and perfected interiors.</p>

    </div>
    <div class='medium-6 columns'>
      <h3>Our skills</h3>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percentage}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percentage}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


<div class='full'>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <!-- <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul> -->
              </div>
            </div>
          </div>
          <p class='centered-text'>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What our clients say" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='full parallax'>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>Our Legacy</h3>
      <p>I was fortunate to learn this business from childhood by working for my father, Frank Hamilton, a highly respected homebuilder of Longview. Since forming my own company in 1990, I have been further blessed by success in work that I love and that enhances my home town. I hold the Graduate Master Builder designation from the National Association of Homebuilders, and my employees and associates are similarly qualified in their respective fields. To stay abreast of current methods, materials, and styles, we regularly attend professional seminars and trade shows. Our headquarters consists of offices, shops, and warehouses on the same tract as my own home at 1625 East Loop 281. We have built hundreds of dwellings in and near Longview, many of them in subdivisions that we developed ourselves—most recently Pecan Crest (off of Airline Drive north of Lobo Stadium) and the Great Woods (north of the loop off of Tryon).</p>

      <p>Though we accept projects of any scope within a full spectrum of services, our primary focus is on turnkey custom design and construction of unique homes for clients who appreciate high standards of taste and quality. That emphasis earned us a place among 100 similar firms in the Custom Builder Program of Southern Living Magazine. We like to think that the enviable longevity and growth of the company have been due not only to the satisfaction of our clients, but also to careful and conservative management of our human and financial resources. Scott Hamilton Custom Homes is a member of Guild Quality. Like other top builders who are members, we are committed to making sure our customers get the best experience possible while working with us. Guild Quality is a third-party survey service that enhances our ability to maintain the highest standards of customer service.</p>

      <p>As recipients of the "Locals Love Us" award all 5 years the award has been given and winners of "Best of East Texas" 5 of 6 years, the Hamilton team is dedicated to maintaining excellence and providing an experience our clients will enjoy from start to finish.</p>

      <p>We are also an accredited member of the Better Business Bureau of East Texas.  This means that we have made a commitment to do our job in a trustworthy, honorable, and transparent manner. The accreditation also means that we will resolve any complaints expeditiously. We have been a recipient of a BBB Gold Star award for the past 20 years for being complaint free.</p>

      <p>I am proud to show you a few of our recent homes in the gallery section of this website. For more information or to setup an appointment to discuss your plans for a new home please give us a call. 903-753-6773</p>
    </div>
  </div>
</div>

<!-- {% include our-customers.html %} -->
<div class='full no-padding' style='background: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Like what you see here? Contact us to kickoff your project.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='mailto:contact@trusthamilton.com'>Contact Us</a>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <ul class='socials' style="display: inline;">
        <li style="display: inline;">
          <a href='http://twitter.com'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
        <li style="display: inline;">
          <a href='http://facebook.com'>
            <i class='fa fa-facebook'></i>
          </a>
        </li>
        <li style="display: inline;">
          <a href='http://dribbble.com'>
            <i class='fa fa-dribbble'></i>
          </a>
        </li>
        <li style="display: inline;">
          <a href='http://tumblr.com'>
            <i class='fa fa-tumblr'></i>
          </a>
        </li>
      </ul>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="https://www.google.com/maps/place/Scott+Hamilton+Custom+Builder/@32.5239656,-94.6940699,17z/data=!4m13!1m7!3m6!1s0x8636472405aca26d:0x8f91a36152579715!2s1625+E+Loop+281,+Longview,+TX+75605!3b1!8m2!3d32.5239656!4d-94.6918812!3m4!1s0x8636472127619ddd:0x9fc537a91042249!8m2!3d32.522825!4d-94.688909">1625 E. Loop 281 Longview, Tx 75605</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="tel">(903) 738-4741</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:contact@trusthamilton.com">contact@trusthamilton.com</a>
    </div>
  </div>
  <div class='spacing'></div>
</div>
