---
layout: home
section_id: home
slides:
  - bg: images/home/name-you-can-trust.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: Hamilton Group
    title:
      klass: bottom-to-top
      text: A Name You Can Trust
    buttons:
      klass: bottom-to-top
      items:
        - text: Schedule Your Free Consultation
          link_to: mailto:contact@trusthamilton.com
  - bg: images/home/team-you-can-trust.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: Hamilton Group
    title:
      klass: bottom-to-top
      text: A Team You Can Trust
    buttons:
      klass: bottom-to-top
      items:
        - text: Schedule Your Free Consultation
          link_to: mailto:contact@trusthamilton.com
  - bg: images/home/design-you-can-trust.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: Hamilton Group
    title:
      klass: bottom-to-top
      text: A Design You Can Trust
    buttons:
      klass: bottom-to-top
      items:
        - text: Schedule Your Free Consultation
          link_to: mailto:contact@trusthamilton.com
  - bg: images/home/home-you-can-trust.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: Hamilton Group
    title:
      klass: bottom-to-top
      text: A Home You Can Trust
    buttons:
      klass: bottom-to-top
      items:
        - text: Schedule Your Free Consultation
          link_to: mailto:contact@trusthamilton.com
testimonials:
  - quote: "We expected to get exactly what we wanted in a home, and we did. Our favorite aspect is that everyone naturally gravitates to the extended kitchen. The two butler’s pantries make serving so easy. The portico outside the sun room and family room, overlooking the pool and hearth, is like an extension of the inside, comfortable in all weather. Scott had the people and the expertise to make it all come together for us."
    author: Exactly What We Wanted, Longview, TX
  - quote: "We never built before. People say it strains a marriage, but Scott’s people made it a pleasant experience. Becky took me to the decorator’s market in Dallas. The supervisor found a talented artist to paint a tapestry on the vault leading to the parlor. Everything is wonderfully unique."
    author: Pleasant Experience, Kilgore, TX
  - quote: "This company is known for excellent woodwork, molding, hardwood floors, and such— quality in every detail. Our door frames are different from the neighbors’, as you would expect in a custom home. All the craftsmen listened to us and figured a way to give us what we wanted—for instance, rag-technique painting, and the family monogram laid in parquet at hallway inter-sections. You can’t plan every detail in advance, but have to rely on the integrity of the builder for getting things right."
    author: Quality in Every Detail, Hallsville, TX
works:
  - image: images/portfolio/craftsman-sanctuary-display-1.jpg
    title: Craftsman Sanctuary
    link_to: craftsman-sanctuary-portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/portfolio/the-ranch-display-1.jpg
    title: The Ranch
    link_to: the-ranch-portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/portfolio/waters-edge-estate-display-1.jpg
    title: Waters Edge Estate
    link_to: waters-edge-estate-portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/portfolio/pecan-crest-1-display-1.jpg
    title: Pecan Crest 1
    link_to: pecan-crest-1-portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/portfolio/pecan-crest-2-display-1.jpg
    title: Pecan Crest 2
    link_to: pecan-crest-2-portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/portfolio/pecan-crest-3-display-1.jpg
    title: Pecan Crest 3
    link_to: pecan-crest-3-portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/portfolio/castleridge-mediterranean-display-1.jpg
    title: Castleridge Mediterranean
    link_to: castleridge-mediterranean-portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/portfolio/hilltop-pavillion-display-1.jpg
    title: Hilltop Pavilion
    link_to: hilltop-pavilion-portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development


services:
  - icon: trophy
    title: Custom Design
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: cogs
    title: Building
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: pagelines
    title: Floor Plans
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: lock
    title: Security
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.

milestones:
  - icon: legal
    from: 0
    to: 105
    title: Combined Years Experience
  - icon: home
    from: 0
    to: 614
    title: Projects Completed
  - icon: trophy
    from: 0
    to: 41
    title: Awards Won

services_left:
  - icon: trophy
    title: Custom Site Planning
    desc: Site planning in landscape architecture and architecture refers to the organizational stage of the landscape design process. It involves the organization of land use zoning, access, circulation, privacy, security, shelter, land drainage, and other factors. This is done by arranging the compositional elements of landform, planting, water, buildings and paving and building in site plans.
  - icon: wrench
    title: Specialty Products
    desc: We have strategic partnerships with quality products that past clients have found to be valuable additions to their projects. Let us know if you see something you like or want to suggest something.
  - icon: building
    title: Commercial
    desc: Whether its rebuilding a new office or remodeling existing apartments, we are dedicated to making your project a success by leveraging our decades of experience.
services_right:
  - icon: cogs
    title: Renovations
    desc: The unexpected surprises of renovation are a problem for a production-minded, new home supervisor who is process-oriented and has his plate full with multiple projects. For a Renovation Specialist, dealing with the unexpected is merely a part of the process.
  - icon: image
    title: Custom Interior Design
    desc: Interior design describes all the related aspects of design involved in creating a functional interior environment that is aesthetically pleasing and enhances your quality of life.  Interior design includes conceptual development, spatial planning, materials selections, and execution of the design.
  - icon: home
    title: Residential
    desc: We have been serving the people of the greater Longview area for decades by bringing their dream homes to reality. Let us know what we can help you with.

---


<div class='mod modDefaultSlider' style="height: 100% !important;">
  <div class='sequence' data-autostop='off' data-timeout='5000' style="height: 100% !important;">
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}' style="margin-top: 102px; text-shadow: 2px 2px 2px #000">
            <div class='row'>
              <div class='large-12 columns'>
                <h2 style="font-size: 3rem;">{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}' style="text-shadow: 2px 2px 2px #000">
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!--
<div class="four spacing"></div>

<div class="row">
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Creative design' desc='Est aperiam ex sint maiores aliquam delectus minima rerum et natus rerum sit quae nostrum.' icon_class='fa fa-flask' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Creative design' desc='Est aperiam ex sint maiores aliquam delectus minima rerum et natus rerum sit quae nostrum.' icon_class='fa fa-paper-plane-o' delay='200' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Creative design' desc='Est aperiam ex sint maiores aliquam delectus minima rerum et natus rerum sit quae nostrum.' icon_class='fa fa-tablet' delay='400' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Creative design' desc='Est aperiam ex sint maiores aliquam delectus minima rerum et natus rerum sit quae nostrum.' icon_class='fa fa-comments-o' delay='600' shape_class='icon-text-circle' %}
  </div>
</div>

<div class="spacing"></div>
-->

<!--
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our services" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/@stock/responsive.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>
-->

<div class='full parallax'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="The Hamilton Difference" %}
      <div class='spacing'></div>
      <p class='centered-text' style='color: #000;'>
        Hamilton Group, formerly Scott Hamilton Custom Homes is the premier design-build, high performance, custom home builder in East Texas. The Hamilton name is synonymous with excellence and integrity and has been for the last 40 years. Your trust depends on an enjoyable process utilizing inspired design, cutting-edge construction, and perfected interiors.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-4 large-4 columns'>
        <div class='mod modMilestone'>
          <i class='fa fa-{{milestone.icon}}'></i>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='four spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
</div>


<div class="full" style="background: #f5f5f5;">

  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Gallery" %}
      <div class="spacing"></div>
      <!--
      <p>
        Hamilton Group, formerly Scott Hamilton Custom Homes is the premier design-build, high performance, custom home builder in East Texas. The Hamilton name is synonymous with excellence and integrity and has been for the last 40 years. Your trust depends on an enjoyable process utilizing inspired design, cutting-edge construction, and perfected interiors.
      </p>
    -->
      <div class="three spacing"></div>
    </div>
  </div>

  <div id="homebuilders" class="mod modGallery">
    <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for work in page.works %}
        <li class="{{ work.klass }}">
          <a href='{{ work.link_to }}'>
            <img alt="" src="{{ work.image }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.desc }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for service in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What our clients say" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our team" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our recent posts" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}

      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
          {% endfor %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="#">{{post.title}}</a></h4>
            <p>{{post.excerpt}}</p>
            <!--
              <div class="tags">
                {% for cat in post.categories %}
                  <a href="#">{{cat | capitalize}}</a>
                  {% unless forloop.last %}
                    ,
                  {% endunless %}
                {% endfor %}
              </div>
            --
          </div>
        </div>
      </div>

    {% endfor %}

  </div>


  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog.html'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>

</div>


{% include our-customers.html %}
-->

<div class='full no-padding' style='background: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Like what you see here? Contact us to kickoff your project.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='mailto:contact@trusthamilton.com'>Contact Us</a>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <ul class='socials' style="display: inline;">
        <li style="display: inline;">
          <a href='https://www.facebook.com/Hamilton-Custom-Homes-173390652689644/'>
            <i class='fa fa-facebook'></i>
          </a>
        </li>
        <li style="display: inline;">
          <a href='https://www.houzz.com/pro/hamiltongroupllc'>
            <img src="images/houzz.png" alt="houzz" style="width: 20px" width="20px" />
          </a>
        </li>
      </ul>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="https://www.google.com/maps/place/Scott+Hamilton+Custom+Builder/@32.5239656,-94.6940699,17z/data=!4m13!1m7!3m6!1s0x8636472405aca26d:0x8f91a36152579715!2s1625+E+Loop+281,+Longview,+TX+75605!3b1!8m2!3d32.5239656!4d-94.6918812!3m4!1s0x8636472127619ddd:0x9fc537a91042249!8m2!3d32.522825!4d-94.688909">1625 E. Loop 281 Longview, Tx 75605</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="tel:903-738-4741">(903) 738-4741</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:contact@trusthamilton.com">contact@trusthamilton.com</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="equal.pdf">Fair Housing</a>
    </div>
  </div>
  <div class='spacing'></div>
</div>
