<div class='contain-to-grid sticky' style="height: 0; background: transparent;">
  <nav class='top-bar' data-options='sticky_on: large' data-topbar='' style="height: 0; background: transparent;">
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href='{{site.url}}/index.html' style="margin-top: -4px;">
            <img alt="" src="{{site.url}}/images/logo-100.jpg" />
          </a>
        </h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href='#'>Menu</a>
      </li>
    </ul>
    <section class='top-bar-section'>
      <ul class="right" style="margin-top: 20px">
        {% for item in site.data.nav %}
          {% if item.section_id == page.section_id %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}

          {% if item.children %}
            <!-- <li class="has-dropdown {{active_class}}">
              <a href="{{site.url}}/{{ item.path }}"  style="background: transparent; height: 20px;">{{ item.name }}</a>
              <ul class='dropdown'>
                {% for child in item.children %}
                  <li>
                    <a href="{{site.url}}/{{ child.path }}" style="background: transparent; height: 20px;">{{ child.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li> -->
          {% else %}
            <li class="{{active_class}}">
              <a href="{{site.url}}/{{ item.path }}" style="background: transparent; height: 20px;">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
    <ul class='title-area right'>
      <li class='name'>
        <h1>
          <a style="background: white;
            border: 1px solid;
            margin-top: -25px;
            font-size: 22px;
            font-weight: bold;
            height: 80px;"
          href='mailto:contact@trusthamilton.com'>
            Contact
          </a>
        </h1>
      </li>
    </ul>
  </nav>
</div>
